<% include partials/header.ejs %>
<br>
<h1 align="center">Issue against Requisition</h1>

<div class="container">
    <br><br><br>
    <form action="/requisition/<%=data[0].id%>" method="POST">
        <div class="row">
            <div class="col-md-2">
                <label style="width: 100%;">Requisition ID: <input type="text" class="form-control-plaintext" value="<%=data[0].id%>"></label>
            </div>
            <div class="col-md-5">
                <label style="width: 100%;">Finished Good Part Number: <input type="text" class="form-control-plaintext" value="<%=data[0].FG_code%>"></label>
            </div>
            <div class="col-md-3">
                <label style="width: 100%;">Finished Good Quantity: <input type="text" class="form-control-plaintext" value="<%=data[0].quantity%>"></label>
            </div>
            <div class="col-md-2">
                <label style="width: 100%;">Requisition Status: <input type="text" class="form-control-plaintext" value="<%=data[0].status%>"></label>
            </div>
        </div>
        <br>
		<table class="table table-bordered table-hover" id="table">
			<thead class="thead-dark">
                <th>#</th>
                <th>Part Number</th>
                <th>Description</th>
                <th>Current Stock</th>
                <th>Required Quantity</th>
                <th>Issued Quantity</th>
                <th>Excess/Less Quantity</th>
                <th>New Issue Quantity</th>
            </thead>
            <tbody>
                <% for(var i=0;i<data.length;i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= data[i].RM_code %></td>
                        <td><%= data[i].RM_name %></td>
                        <td><%= data[i].stock %></td>
                        <td><%= data[i].required_quantity %></td>
                        <td><%= data[i].issued_quantity %></td>
                        <% var total = Math.round(((data[i].total_quantity - data[i].total_required_quantity) * 100) / 100) %>
                        <td><%= total + data[i].required_quantity - data[i].issued_quantity %></td>
                        <% if(total >= 0) {%>
                            <td></td>
                        <% } else {  %>
                            <td><input type="text" value="<%= -total %>" name="<%= data[i].RM_code %>" /></td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div class="row col">
            <input type="submit" class="btn btn-success" value="Issue">
        </div>
    </form>
</div>

<% include partials/footer.ejs %>