<% include partials/header.ejs %>
<br>
<h1 align="center">Issue against Requisition</h1>

<div class="container">
    <br><br><br>
    <form action="/requisition/<%=data[0].id%>" method="POST" onsubmit="return confirm('Are you sure?')">
        <div class="row">
            <div class="col-md-2">
                <label style="width: 100%;">Requisition ID: <input type="text" class="form-control-plaintext" value="<%=data[0].id%>"></label>
            </div>
            <div class="col-md-2">
                <label style="width: 100%;">Requisition Date: <input type="text" class="form-control-plaintext" value="<%=data[0].date.toISOString().substring(0,10)%>"></label>
            </div>
            <div class="col-md-3">
                <label style="width: 100%;">Finished Good Part Number: <input type="text" class="form-control-plaintext" value="<%=data[0].FG_code%>"></label>
            </div>
            <div class="col-md-3">
                <label style="width: 100%;">Finished Good Quantity: <input type="text" class="form-control-plaintext" value="<%=data[0].quantity%>"></label>
            </div>
            <div class="col-md-2">
                <label style="width: 100%;">Requisition Status: <input type="text" class="form-control-plaintext" value="<%=data[0].status%>"></label>
            </div>
        </div>
        <br>
		<table class="table table-bordered table-hover" id="table">
			<thead class="thead-dark">
                <th>#</th>
                <th>Part Number</th>
                <th>Description</th>
                <th>Current Stock</th>
                <th>Required Quantity</th>
                <th>Issued Quantity</th>
                <th>Excess/Less Quantity</th>
                <th>Total Issuable Quantity</th>
                <th>Issue Quantity</th>
            </thead>
            <tbody>
                <% let toBeClosed = 0 %>
                <% for(var i=0;i<data.length;i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= data[i].RM_code %></td>
                        <td><%= data[i].RM_name %></td>
                        <td><%= data[i].stock %></td>
                        <td><%= Math.round(data[i].required_quantity*100)/100 %></td>
                        <td><%= Math.round(data[i].issued_quantity*100)/100 %></td>
                        <% var total = data[i].total_quantity - data[i].total_required_quantity - data[i].required_quantity + data[i].issued_quantity %>
                        <td><%= Math.round((total + data[i].required_quantity - data[i].issued_quantity)*100)/100 %></td>
                        <% if(data[i].required_quantity == data[i].issued_quantity) {%>
                            <% toBeClosed += 1 %>
                            <td>0</td>
                            <td></td>
                        <% } else if(total >= 0) {  %>
                            <% toBeClosed += 1 %>
                            <td>0</td>
                            <td><input type="text" value="<%= 0 %>" style="display: none;" name="<%= data[i].RM_code %>" /></td>
                        <% } else { %>
                            <td><%= Math.ceil(-total*100)/100 %></td>
                            <td><input type="text" value="0" name="<%= data[i].RM_code %>" /></td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-3">
                <input type="submit" class="btn btn-success" value="Issue">
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-3">
                <!-- <% if(toBeClosed == data.length) { %> -->
                    <a href="/requisition/<%=data[0].id%>/close" class="btn btn-danger">Close this requisition</a>
                <!-- <% } %> -->
            </div>
        </div>
    </form>
</div>

<% include partials/footer.ejs %>