<% include partials/header.ejs %>
<br>
<h1 align="center">View Report</h1>
<br>
<div class="container">
	<div class="jumbotron">
		<form>
			<fieldset>
				<div class="row">
					<div class="col-md-6">
						<label><strong>Description</strong><input autocomplete="off" type="text" name="raw_material_name" class="form-control-plaintext" value="<%= raw[1] %>"></label>
					</div>
					<div class="col-md-6">
						<label><strong>Part Number</strong><input autocomplete="off" type="text" name="raw_material_code" class="form-control-plaintext" value="<%= raw[0] %>"></label>
					</div>
				</div>
			</fieldset>
			<div class="row">
				<div class="col-md-4">
					<label><strong>Current Stock</strong><input autocomplete="off" type="text" name="current_stock" class="form-control-plaintext" value="<%= currentStock %>"></label>
				</div>
				<div class="col-md-4">
					<label><strong>From:</strong><input autocomplete="off" type="date" value="<%= from %>" class="form-control-plaintext"></label>
				</div>
				<div class="col-md-4">
					<label><strong>To:</strong><input autocomplete="off" type="date" value="<%= to %>" class="form-control-plaintext"></label>
				</div>
			</div>
		</form>
	</div>
	<br>
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Invoice No/Requisition ID</th>
				<th>Inwards</th>
				<th>Store to Line</th>
				<th>Outwards</th>
				<th>Date (yyyy/mm/dd)</th>
				<th>Store Stock</th>
				<th>Line Stock</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>From: <%= from %></td>
				<td>Opening: <%= openingStoreStock %></td>
				<td>Opening: <%= openingLineStock %></td>
			</tr>
			<tr>
				<td>Excess On Line: </td>
				<td></td>
				<td></td>
				<td><%= excessOnLine %></td>
				<td></td>
				<td><% openingStoreStock -= excessOnLine %><%= openingStoreStock %></td>
				<td></td>
			</tr>
			<% for(var i=0;i<input_output.length;i++){ %>
				<tr>
					<% if(input_output[i].type === 'i' ){ %>

						<td>Invoice Number: <%= input_output[i].invoice_no %>/PO Number: <%= input_output[i].PO_code %></td>
						<td><%= input_output[i].quantity %></td>
						<td></td>
						<td></td>
						<td><%= input_output[i].date.toISOString().substring(0,10) %></td>
						<td><% openingStoreStock += input_output[i].quantity %><%= openingStoreStock %></td>
						<td><%= openingLineStock %></td>

					<% } else if(input_output[i].type === 'ro' ) { %>

						<td>Requisition ID: <%= input_output[i].PO_code %></td>
						<td></td>
						<td><%= input_output[i].quantity %> (<%= input_output[i].issuing_req_id %> WITH <%= input_output[i].issuing_quantity %>)</td>
						<td></td>
						<td><%= input_output[i].date.toISOString().substring(0,10) %></td>
						<td><% openingStoreStock -= input_output[i].quantity %><%= openingStoreStock %></td>
						<td><% openingLineStock += input_output[i].quantity %><%= openingLineStock %></td>

					<% } else if(input_output[i].type === 'prod' ) { %>

						<td>Production ID: <%= input_output[i].PO_code %> of <%= input_output[i].issuing_quantity %> - <%= input_output[i].issuing_req_id %></td>
						<td></td>
						<td></td>
						<td><%= input_output[i].quantity %></td>
						<td><%= input_output[i].date.toISOString().substring(0,10) %></td>
						<td><%= openingStoreStock %></td>
						<td><% openingLineStock -= input_output[i].quantity %><%= openingLineStock %></td>

					<% } else { %>

						<td>Slip No.: <%= input_output[i].PO_code %></td>
						<td></td>
						<td><%= input_output[i].quantity %></td>
						<td></td>
						<td><%= input_output[i].date.toISOString().substring(0,10) %></td>
						<td><% openingStoreStock -= input_output[i].quantity %><%= openingStoreStock %></td>
						<td><% openingLineStock += input_output[i].quantity %><%= openingLineStock %></td>

					<% } %>
				</tr>
			<% } %>
			<tr>
				<td></td>
				<td>Total: <%= totalInputInRange %></td>
				<td>Total: <%= totalOutputInRange %></td>
				<td>Total: <%= totalProductionOut %></td>
				<td>To: <%= to %></td>
				<td>Closing: <%= openingStoreStock %></td>
				<td>Closing: <%= openingLineStock %></td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	new TableExport(document.getElementsByTagName("table"),{bootstrap:false,headers:true,formats:['csv','xls','xlsx'],ignoreCols:[]});
</script>
<% include partials/footer.ejs %>
