<% include partials/header.ejs %>
<br>
<h1 align="center">Man Power Efficiency Report</h1>
<br>
<h6 align="center">from <%= from %> to <%= to %></h6>
<br>
<div>
	<table class="table table-striped table-bordered table-hover" id="table">
		<thead class="thead-dark">
			<tr>
				<th>Description</th>
                <th>Part Number</th>
                <th>Category</th>
				<th>MP / Unit</th>
				<th>OH / Unit</th>
                <% for(let i of data[Object.keys(data)[0]].productionData) { %>
                    <th><%= new Date(i.date).toISOString().substring(5,10) %></th>
                <% } %>
				<th>Total Production</th>
				<th>Total Man Power</th>
				<th>Total Overheads</th>
			</tr>
		</thead>
		<tbody>
            <% let productionPerDay = [] %>
            <% let MPPerDay = [] %>
            <% let OHPerDay = [] %>
            <% for(let r of data) { %>
                <tr>
                    <td><%= r.name %></td>
                    <td><%= r.code %></td>
                    <td><%= r.category %></td>
                    <td><%= r.man_power %></td>
                    <td><%= r.overheads %></td>
                    <% let totalProduction = 0 %>
                    <% for(let i in r.productionData) { %>
                        <th><%= r.productionData[i].quantity %></th>
                        <% totalProduction += r.productionData[i].quantity %>
                        <% if(!productionPerDay[i]) { productionPerDay[i] = r.productionData[i].quantity } else { productionPerDay[i] += r.productionData[i].quantity } %> 
                        <% if(!MPPerDay[i]) { MPPerDay[i] = r.productionData[i].quantity*r.man_power } else { MPPerDay[i] += r.productionData[i].quantity*r.man_power } %> 
                        <% if(!OHPerDay[i]) { OHPerDay[i] = r.productionData[i].quantity*r.overheads } else { OHPerDay[i] += r.productionData[i].quantity*r.overheads } %> 
                    <% } %>
                    <td><%= totalProduction %></td>
                    <td><%= totalProduction * r.man_power %></td>
                    <td><%= totalProduction * r.overheads %></td>
                </tr>
            <% } %>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total Production: </td>
                <% totalProduction = 0 %>
                <% for(let i of productionPerDay) { %>
                    <td><%= i %></td>
                    <% totalProduction += i %>
                <% } %>
                <td><%= totalProduction %></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total Overheads: </td>
                <% let totalOH = 0 %>
                <% for(let i of OHPerDay) { %>
                    <td><%= i %></td>
                    <% totalOH += i %>
                <% } %>
                <td><%= totalOH %></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total MP Required: </td>
                <% let totalMP = 0 %>
                <% for(let i of MPPerDay) { %>
                    <td><%= i %></td>
                    <% totalMP += i %>
                <% } %>
                <td><%= totalMP %></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Attendance: </td>
                <% let totalAttendance = 0 %>
                <% for(let i of attendance) { %>
                    <td><%= i %></td>
                    <% totalAttendance += i %>
                <% } %>
                <td><%= totalAttendance %></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Efficiency: </td>
                <% for(let i in attendance) { %>
                    <td><%= Math.round((MPPerDay[i] / attendance[i]) * 100) %>%</td>
                <% } %>
                <td><%= Math.round((totalMP / totalAttendance) * 100) %>%</td>
                <td></td>
                <td></td>
            </tr>
            <!-- <% var totalManPower = 0 %> 
            <% var totalOverheads = 0 %>
            <% var totalProduction = 0 %>
			<% for(var i=0;i<data.length;i++){ %>
				<tr>
					<td><%= i+1 %></td>
					<td><%= data[i].name %></td>
					<td><%= data[i].FG_code %></td>
					<td><%= data[i].category %></td>
					<td><%= data[i].quantity %></td>
                    <td><%= data[i].man_power %></td>
                    <td><%= data[i].overheads %></td>
                    <td><%= Math.round(data[i].quantity * data[i].man_power * 100) / 100 %></td>
                    <td><%= Math.round(data[i].quantity * data[i].overheads * 100) / 100 %></td>
                    <% totalManPower += data[i].quantity * data[i].man_power %>
                    <% totalOverheads += data[i].quantity * data[i].overheads %>
                    <% totalProduction += data[i].quantity %>
				</tr>
            <% } %>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total:</td>
                <td><%= totalProduction %></td>
                <td></td>
                <td>Total</td>
                <td><%= Math.round(totalManPower * 100) / 100 %></td>
                <td><%= Math.round(totalOverheads * 100) / 100 %></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Actual</td>
                <td><%=  %></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Efficiency</td>
                <td><%= (Math.round(totalManPower * 100) / (100 * 1)) * 100 %></td>
                <td></td>
            </tr> -->
		</tbody>
	</table>
</div>
<script type="text/javascript">
	new TableExport(document.getElementsByTagName("table"),{bootstrap:false,headers:true,formats:['csv','xls','xlsx'],ignoreCols:[0]});
</script>
<% include partials/footer.ejs %>