<% include partials/header.ejs %>
<br>
<h1 align="center"><%=type.charAt(0).toUpperCase() + type.slice(1)%> Detail</h1>
<br>
<div class="container">
	<table class="table table-striped table-bordered table-hover">
		<thead class="thead-dark">
			<tr>
				<th><strong>Name</strong></th>
				<th><strong>Code</strong></th>
				<th><strong>Address</strong></th>
				<th><strong>GST No.</strong></th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0;i<data.length;i++){ %>
					<tr>
						<td><%= data[i].name %></td>
						<td><%= data[i].code %></td>
						<td><%= data[i].address1 %></td>
						<td><%= data[i].GST_no %></td>
						<td><a class="btn btn-primary" href="/<%=type%>/<%= data[i].code %>">Update/Delete</a></td>
					</tr>
			<% } %>
		</tbody>
	</table>
	<a href="/<%=type%>/new" class="btn btn-success">New</a>
</div>

<% include partials/footer.ejs %>