<% include ./partials/header.ejs %>
<br><br>
<h1 align="center">Dispatch</h1>
<br>
<div class="container">
  <table class="table table-stripped table-bordered">
    <thead class="thead-dark">
      <th>Invoice Number</th>
      <th>Date</th>
      <th>Part Number</th>
      <th>Quantity</th>
      <th>#</th>
    </thead>
    <tbody>
      <% for(var i=0;i<finished_goods.length;i++) { %>
          <tr id="<%= finished_goods[i].id %>">
            <td><%= finished_goods[i].invoice_no %></td>
            <td><%= finished_goods[i].date %></td>
            <td><%= finished_goods[i].FG_code %></td>
            <td><%= finished_goods[i].quantity %></td>
            <td><button class="btn btn-danger" onclick="func(<%=finished_goods[i].id%>)">Delete</button></td>
          </tr>
      <% } %>
    </tbody>
  </table>
</div>

<script>
    let func = (id) => {
      var result = confirm('Do you want to submit?');
      if (result) {
        fetch(`/finished_good/dispatch/${id}`, {
          method: 'delete'
        }).then(res => {
          var element = document.getElementById(id)
          element.parentNode.removeChild(element);
        })
      }
    }
  </script>

<% include ./partials/footer.ejs %>
