<% include partials/header.ejs %>
<br>
<h1 align="center">Edit Finished Good Detais</h1>
<div class="container">
	<form action="/finished_good/<%= finished_good.code %>/update" method="post">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-6">
				<label>Description: <input type="text" name="finished_good[name]" class="form-control" value="<%= finished_good.name %>" required></label>
			</div>
			<div class="col-md-6">
				<label>Part Number: <input type="text" name="finished_good[code]" class="form-control" required value="<%= finished_good.code %>"></label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label>Customer: <input type="text" name="finished_good[customer]" value="<%= finished_good.customer %>" class="form-control" required></label>
			</div>
			<div class="col-md-4">
			<label>Category: <select name="finished_good[category]" class="form-control">
				<option value="<%= finished_good.category %>" hidden selected><%= finished_good.category %></option>
				<option value="Fuse Box">Fuse Box</option>
				<option value="Indicator">Indicator</option>
				<option value="Magneto">Magneto</option>
				<option value="Battery Cable">Battery Cable</option>
				<option value="Lead Wires">Lead Wires</option>
				<option value="Piaggio">Piaggio</option>
				<option value="Pigtail">Pigtail</option>
				<option value="Spare Part (SPD)">Spare Part (SPD)</option>
			</select></label>
			</div>
			<div class="col-md-4">
				<label>Stock: <input type="number" name="finished_good[stock]" value="<%= finished_good.stock %>" class="form-control"></label>
			</div>
		</div>
	</div>
	<h4 align="center">BOM Details</h4>
	<table class="table table-striped table-bordered table-hover">
		<thead class="thead-dark">
			<tr>
				<th>#</th>
				<th>Part Number</th>
				<th>Quantity</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
		<% for(var i=0;i<raw_materials.length;i++){ %>
			<tr>
				<td><%= i+1 %></td>
				<td><input type="text" name="code[<%=i%>]" list="Product" required class="form-control" value="<%= raw_materials[i].raw_material_code %>">
						<datalist id="Product" name="Product">
							<% for(var j=0;j<raw.length;j++){ %>
								<option value="<%= raw[j].code %>"><%= raw[j].code %>$$<%= raw[j].DTPL_code %>$$<%= raw[j].name %></option>
							<% } %>
						</datalist></td>
				<td><input type="text" name="quantity[<%=i%>]" value="<%= raw_materials[i].quantity %>" class="form-control"></td>
				<td><a href="/finished_good/<%= finished_good.code %>/<%= raw_materials[i].raw_material_code %>/delete">Delete</a></td>
			</tr>
		<% } %>
		</tbody>
	</table>
	<a href="/finished_good/BOM/<%= finished_good.code %>" class="btn btn-dark">Export BOM</a><br><br>
	<button type="submit" class="btn btn-success">Update!!</button>
	<a href="/finished_good/<%= finished_good.code %>/new" style="float:right;" class="btn btn-primary">Add New Raw Material</a>
	<br><br><br>
	<a href="/finished_good/<%= finished_good.code %>/delete" class="btn btn-danger">Delete</a>
	</form>
</div>
<% include partials/footer.ejs %>
